/**
* ============================================================
* ============================================================
* ---------- The file contains global styles -----------------
* ============================================================
* ============================================================
*/

/**
* ============================================================
* Custom styles.
* ============================================================
*/
.glyphicon, .pointer {
  cursor: pointer;
}

.alert {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
}


.inline-block {
  display: inline-block;
}

.scrollable {
  overflow: auto;
}

/**
* ============================================================
* Bootsrap overriden styles.
* ============================================================
*/
.form-control-static {
  min-height: 0;
  padding-top: 0;
  padding-bottom: 0;
}
