<select class="form-control">
  <option>Link</option>
  <option>Navigation</option>
  <option>Page as an element</option>
</select>
<select class="form-control">
  <option>color contrast</option>
  <option>length</option>
  <option>text style</option>
</select>
<select class="form-control">
  <option>should be </option>
  <option>should not be</option>
</select>
<select class="form-control">
  <option>at least 4.5 contrast untis</option>
  <option>more then 4.5 contrast untis<</option>
</select>
<button type="button" class="btn btn-default">Save guideline</button>
